$_search_heightImg: 120px;
$_search_heightImgL: 100px;
$_search_heightImgM: 80px;

$_search_imgWidth: 153px;
$_search_imgWidthL: 127px;
$_search_imgWidthM: 102px;

$_search_padding: 10px;
$_search_paddingDouble: 20px;
$_search_paddingL: 8px;
$_search_paddingDoubleL: 16px;
$_search_paddingM: 7px;
$_search_paddingDoubleM: 14px;
