$_header_heightImg: 120px;
$_header_heightImgL: 100px;
$_header_heightImgM: 80px;

$_header_heightL: 80px;
$_header_heightM: 70px;

$_header_padding: 10px;
$_header_paddingDouble: 20px;
$_header_paddingL: 8px;
$_header_paddingDoubleL: 16px;
$_header_paddingM: 7px;
$_header_paddingDoubleM: 14px;

$_header_imgWidth: 153px;
$_header_imgWidthL: 127px;
$_header_imgWidthM: 102px;

$_header_fontSizeName: 36px;
$_header_fontWeightName: 800;
$_header_fontSizeNameL: 28px;
$_header_fontWeightNameL: 500;
$_header_fontSizeNameM: 24px;
$_header_fontWeightNameM: 800;
