@import '../../styles/index.scss';

.toCatalog {
    @include columnCenterStart;
    @include hoverMini;
    color: $blue;
    gap: 15px;
    cursor: pointer;

    .imgContainer {
        @include flexCenterCenter;
        background-image: $yellowRadial;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.668);

        img {
            width: 60px;
            filter: $blueFilter;
        }
    }

    div {
        line-clamp: 2;
        white-space: pre;
        text-align: center;
        color: $darkDarkAqua;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
    }
}
