@import '../../styles/index.scss';

.productListContainer {
    @include flexCenterCenter;
    width: 100%;

    .productListGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;

        @media (max-width: 1950px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 1170px) {
            grid-template-columns: 1fr;
        }
    }

    table {
        @include fontDesktopM($blue);
        position: relative;
        background-color: $white;
        width: 100%;

        .pic {
            height: 100%;
            position: relative;
        }

        hr {
            border-width: 0;
            height: 2px;
            background-color: $hrColor;
        }

        img {
            width: 32px;
            height: 32px;
        }

        thead {
            z-index: 2;
            position: sticky;
            top: 104px;
            background-color: $white;

            @media (max-width: $breakPointL) {
                top: 86px;
            }
        }

        th {
            @include fontDesktopXM($blue);
            white-space: nowrap;
            border-bottom: 4px solid $lightGray;
            font-size: 15px;
            font-weight: 800;
            padding-top: 10px;
            padding-bottom: 15px;
            padding-inline: 8px;

            @media (max-width: $breakPointL) {
                padding-inline: 4px;
            }

            &:nth-child(4) {
                padding-inline: 0;
            }
        }

        td {
            padding-inline: 8px;
            padding-block: 2px;
            border-bottom: 4px solid $lightGray;
            vertical-align: middle;
            text-align: center;

            @media (max-width: $breakPointL) {
                padding-inline: 4px;
                padding-block: 4px;
            }
        }

        .productName {
            padding-left: 2px;

            &Container {
                @include flexStartCenter;
                gap: 5px;
                text-align: start;

                img {
                    width: 64px;
                    height: 64px;
                }

                a {
                    color: $blue;
                    line-height: 21px;
                    font-size: 17px;

                    @media (max-width: $breakPointL) {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }

        .brand {
            font-size: 16px;
            font-weight: 700;

            @media (max-width: $breakPointL) {
                font-size: 13px;
                font-weight: 800;
            }
        }

        .code {
            font-size: 11px;
            padding-inline: 10px;
        }

        .inStock {
            padding-inline: 0;
            &True {
                width: 14px;
                height: 14px;
                border: 2px solid $blue;
                border-radius: 100%;
                background-color: $yellow;
                margin-inline: auto;
            }
            &False {
                width: 14px;
                height: 14px;
                border: 2px solid $blue;
                border-radius: 100%;
                margin-inline: auto;
            }
        }
        .price {
            font-size: 16px;
            font-weight: 700;

            @media (max-width: $breakPointL) {
                font-size: 14px;
                font-weight: 800;
            }
        }

        .productCart {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 8px;
            height: 100%;

            @media (max-width: $breakPointL) {
                flex-direction: column;
                gap: 12px;
            }
        }
    }

    .inStockCheckImg {
        filter: $greenFilter;
    }
    .inStockCloseImg {
        filter: $redFilter;
    }
}
