@import '../../styles/index.scss';

.filterContainer {
    @include columnStartStart;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 168px;
    gap: 5px;
    background-color: $yellowLight;
    border-radius: 0 15px 15px 0;
    padding-bottom: 5px;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.339);
    margin-top: 20px;

    @media (max-width: $breakPointL) {
        width: 140px;
    }

    @media (max-width: $breakPointM) {
        overflow-y: hidden;
        max-height: none;
        width: 100% !important;
        background-color: $white;
        box-shadow: none;
        gap: 7px;
        display: grid;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $breakPointS) {
        grid-template-columns: 1fr;
    }

    .filterHeader {
        @include flexBetweenCenter;
        position: sticky;
        height: 30px;
        top: 0;
        z-index: 5;
        background-color: $yellow;
        border-radius: 0 20px 20px 0;
        width: calc(100% - 22px);
        padding-left: 20px;
        padding-right: 2px;
        font-size: 18px;
        color: $blue;
        font-weight: 800;
        cursor: pointer;

        @media (max-width: $breakPointL) {
            width: calc(100% - 12px);
            padding-left: 10px;
            font-size: 16px;
            font-weight: 800;
        }

        @media (max-width: $breakPointM) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 13px;
            background-color: transparent;
            font-size: 22px;
            font-weight: 800;
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% - 40px);
            grid-column: 1/3;
        }

        @media (max-width: $breakPointS) {
            grid-column: 1/2;
        }

        .closeContainer {
            @include flexCenterCenter;
            background-color: $white;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            font-size: 22px;
            line-height: 22px;
            font-weight: 800;
            cursor: pointer;

            @media (max-width: $breakPointM) {
                background-color: $yellowLight;
                width: 24px;
                height: 24px;
            }
        }

        .rightArrow {
            filter: $blueFilter;
            width: 30px;
            cursor: pointer;

            @media (max-width: $breakPointL) {
                width: 26px;
            }

            @media (max-width: $breakPointM) {
                display: none;
            }
        }

        .downArrow {
            filter: $blueFilter;
            transform: rotate(90deg);
            width: 30px;
            cursor: pointer;
            margin-right: 2px;

            @media (max-width: $breakPointL) {
                width: 26px;
            }

            @media (max-width: $breakPointM) {
                display: none;
            }
        }
    }

    .container {
        color: $blue;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: calc(100% - 25px);
        overflow-wrap: break-word;
        margin-left: 22px;
        line-height: 20px;
        max-width: calc(100% - 22px - 28px);

        @media (max-width: $breakPointL) {
            max-width: calc(100% - 28px - 12px - 4px);
            margin-left: 12px;
            font-size: 12px;
            padding-right: 4px;
        }

        @media (max-width: $breakPointM) {
            display: block !important;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            padding-left: 34px;
            margin-left: 22px;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkMark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: $white;
            border-radius: 100%;

            @media (max-width: $breakPointM) {
                background-color: $lightGray;
                width: 22px;
                height: 22px;
                top: 2px;
            }
        }
    }

    @media (hover: hover) and (pointer: fine) {
        .container:hover input ~ .checkMark {
            background-color: #b5b5b5;
        }
        .container:hover input:checked ~ .checkMark {
            background-color: $yellow;
        }
    }

    .container input:checked ~ .checkMark {
        background-color: $blue;
    }

    .checkMark:after {
        content: '';
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkMark:after {
        display: block;
    }

    .container .checkMark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 7px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

        @media (max-width: $breakPointM) {
            top: 5px;
            left: 8px;
        }
    }
}
