//PRICE WIDTH
$_card_widthCardPriceM: 115px;
$_card_widthCardPrice: 145px;

$_card_widthCardMax: 900px;

//CARD HEIGHT
$_card_heightCard: 100px;
$_card_heightCardS: 150px;

//MENU WIDTH
$_card_menuWidth: 200px;
$_card_menuWidthM: 200px;

//PADDING
$_card_padding: 10px;
$_card_paddingS: 5px;
$_card_paddingDouble: 20px;
$_card_paddingDoubleS: 10px;

//NAME FONT
$_card_fontSizeName: 20px;
$_card_fontWeightName: 800;
$_card_fontSizeNameM: 18px;
$_card_fontWeightNameM: 700;
$_card_fontSizeNameS: 16px;
$_card_fontWeightNameS: 800;

//PRICE FONT
$_card_fontSizePrice: 24px;
$_card_fontWeightPrice: 800;
$_card_fontSizePriceM: 20px;
$_card_fontWeightPriceM: 800;
$_card_fontSizePriceS: 18px;
$_card_fontWeightPriceS: 800;

//DETAILS FONT
$_card_fontSizeDetails: 12px;
$_card_fontWeightDetails: 400px;

//BRAND WEIGHT
$_card_fontWeightBrand: 800;
